# Rust
/target
**/*.rs.bk

# Diesel
src/model/schema.rs.orig

# Build
/dist/backend

# Env
.env

# macOS
.DS_Store

# Testing
/data

# Docker
/docker/data/*
!/docker/data/.keep
/docker/postgres/*
!/docker/postgres/.keep
